<div class="container">
    <button class="btn btn-outline-primary" routerLink="/paciente/nuevo"><i class="far fa-edit"></i>
        Agregar Paciente</button>
</div>
<br>
<div class="container" *ngIf="!listaVacia">
    <table class="table table-dark text-center">
        <thead>
            <tr>
                <th scope="col">Cedula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Sexo</th>
                <th scope="col">Celular</th>
                <th scope="col">Correo</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let paciente of pacientes">
                <td>{{paciente.cedula}}</td>
                <td>{{paciente.nombre}}</td>
                <td>{{paciente.edad}}</td>
                <td>{{paciente.sexo}}</td>
                <td>{{paciente.celular}}</td>
                <td>{{paciente.correo}}</td>
                <td><button class="btn btn-outline-warning" routerLink="/paciente/editar/{{paciente.id}}"><i
                            class="far fa-edit"></i> Editar</button></td>
                <td><button class="btn btn-outline-danger" (click)="borrar(paciente.id)"><i
                            class="far fa-trash-alt"></i> Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container" *ngIf="listaVacia">
    <div class="p-3 mb-2 bg-dark text-white text-center">
        <h2>{{listaVacia}}</h2>
    </div>
</div>